{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block content %}

	<div class="page-title">
		<h1>L'équipe</h1>
		<div class="page-subtitle">
			<h4>Découvrez notre histoire et notre vision.</h4>
		</div>
	</div>

	
	<div class="container">
		<div class="inner-content inner-text-block">
			<div>
				<section class="about-content rounded-3">
					<div class="sp-subtitle">Chemin d'un développeur</div>
					<h2 class="hp-main-title">Walid BELBECHE</h2>
					<p>
						Mon voyage dans le monde de la programmation a commencé de manière assez ordinaire. J'ai pris des cours, passé des examens, mais quelque chose manquait. C'était lors de mes premières lignes de code pour le web que j'ai ressenti une passion naissante, une étincelle qui a allumé un feu d'ambition et d'innovation.
					</p>
					<p>
						Mon amour pour le développement Web m'a emmené à travailler d'avantage afin d'approfondir mes connaissances dans ce domaine humain, forgeant une expertise forte et une vision unique. Rendant les idées vivantes avec des designs intuitifs et une technologie de pointe.
					</p>
					<p>
						Mais au-delà des codes et des pixels, je crois fermement que chaque projet est une histoire, un rêve en transformation. Je suis là pour guider ce rêve, pour le transformer en réalité, et pour assurer que votre vision brille dans chaque détail.
					</p>
					<p>
						La sécurité en ligne est primordiale à mes yeux. Tout comme un forgeron perfectionne son armure, je veille à protéger chaque site contre les cyber-menaces, garantissant une présence en ligne solide et sécurisée.
					</p>
					<p>
						Votre site web est une entité vivante, évolutive. Avec des outils de gestion de contenu adaptés, je vous donne le pouvoir de le nourrir, le faire grandir et adapter son message au rythme de vos ambitions. Et à chaque étape, je suis là, scrutant les données, analysant le trafic, optimisant l'expérience, et s'assurant que votre histoire se poursuit avec succès.
					</p>
				</section>
				<h3 class="text-center mt-5">Liens utiles</h3>
				<div class="d-flex justify-content-center">
					<a href="{{ asset('belbeche_walid_cv.pdf')}}" target="_blank" class="btn btn-secondary btn-lg px-4 rounded-pill">Télécharger CV</a>
					<a href="{{ url('front_contact')}}" target="_self" class="btn btn-primary btn-lg px-4 rounded-pill">Me contacter</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
