{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe{% endblock %}

{% block content %}
    <div class="container">
        <h1>Réinitialisation du mot de passe</h1>

        <p>Vous avez oublié votre mot de passe ? Pas de souci, ça arrive même aux meilleurs d'entre nous ! Suivez simplement ces étapes pour le réinitialiser :</p>

        <ol style="list-style-type: lower-alpha">
            <li style="list-style-type: auto;"><strong>Saisissez votre e-mail :</strong> Assurez-vous d'entrer l'adresse e-mail que vous utilisez pour ce site.</li>
            <li style="list-style-type: auto;"><strong>Vérifiez votre boîte de réception :</strong> Après avoir soumis votre e-mail, recherchez un message de notre part avec un lien de réinitialisation. Si vous ne le voyez pas tout de suite, jetez un œil dans votre dossier de spam.</li>
            <li style="list-style-type: auto;"><strong>Cliquez sur le lien :</strong> Suivez les instructions pour créer un nouveau mot de passe sécurisé.</li>
        </ol>

        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <input type="email" class="form-control" id="email" name="email" required placeholder="votre.email@example.com">
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>

        <p class="mt-4">Si vous rencontrez des problèmes ou si vous n'avez pas reçu d'e-mail après quelques minutes, n'hésitez pas à <a href="{{ path('front_contact') }}">nous contacter</a>.</p>
    </div>
{% endblock %}


