{% extends 'base.html.twig' %}

{% block title %}Une erreur s'est produite
{% endblock %}

{% block content %}

	<div id="main" class="site-main">
		<div id="main-content" class="single-page-content nothing-found">
			<div id="primary" class="content-area">

				<div id="content" class="page-content site-content single-post" role="main">

					<div class="page-content">
						<h1 class="nf-page-title display-6">Erreur</h1>
						<p>Veuillez réessayer ultérieurement</p>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
