<header class="cd-main-header js-cd-main-header">
	<div class="cd-logo-wrapper">
		<a href="#0" class="cd-logo"><img src="{{ asset('css/front/img/cd-logo.svg') }}" alt="Logo"></a>
	</div>

	<div class="js-cd-search"></div>

	<button class="reset cd-nav-trigger js-cd-nav-trigger" aria-label="Toggle menu">
		<span></span>
	</button>

	{% if not app.user %}
		<ul class="cd-nav__list js-cd-nav__list">
			<li class="cd-nav__item cd-nav__item--has-children cd-nav__item--account js-cd-item--has-children">
				<a href="#">
					<i class="bi bi-person-square"></i>
					<span>Espace membre</span>
				</a>

				<ul class="cd-nav__sub-list">
					<li class="cd-nav__sub-item">
						<a href="{{ url('app_login') }}">Déjà membre</a>
					</li>
				</ul>
			</li>
		</ul>
	{% else %}
		<ul class="cd-nav__list js-cd-nav__list">
			<li class="cd-nav__item cd-nav__item--has-children cd-nav__item--account js-cd-item--has-children">
				<a href="#">
					<i class="fas fa-life-ring"></i>
					<span>
						Assistance</span>
				</a>
				<ul class="cd-nav__sub-list">
					<li class="cd-nav__sub-item">
						<a href="#">Suivi d'une demande</a>
					</li>
					<li class="cd-nav__sub-item">
						<a href="#">Crée un tickets</a>
					</li>
				</ul>
			</li>
		</ul>
		<li class="cd-nav__item cd-nav__item--has-children cd-nav__item--account js-cd-item--has-children">
			<a href="{{ url('app_logout') }}">
				<i class="fas fa-user-clock">Déconnexion</i>
			</a>
		</li>
	{% endif %}
</header>
<!-- .cd-main-header -->
