<div id="content" class="container page-content site-content single-post" role="main">

	<div class="row">
		<div
			class=" col-xs-12 col-sm-12 ">
			<!-- Portfolio Content -->
			<div id="portfolio_content_q" class="portfolio-content">

				<ul class="portfolio-filters">
					<li class="active">
						<a class="filter btn btn-sm btn-link" data-group="category_all">Toutes catégorie</a>
					</li>

					<li>
						<a class="filter btn btn-sm btn-link" data-group="category_detailed">Détaillé</a>
					</li>

					<li>
						<a class="filter btn btn-sm btn-link" data-group="category_direct-url">URL direct</a>
					</li>

					<li>
						<a class="filter btn btn-sm btn-link" data-group="category_image">Image</a>
					</li>
				</ul>


				<!-- Portfolio Grid -->
				<div
					class="portfolio-grid four-columns shuffle">

					<!-- for each item -->

					{% for project in projects  %}
						<figure class="item standard" data-groups='["category_all", "category_detailed"]'>

							<div class="portfolio-item-img">
								{% for image in project.images %}
									<img src="{{ asset('image_project/'~image.name) }}" alt="{{ image.name }}"/>
								{% endfor %}
								<a href="{{ url('front_project_show', {id: project.id}) }}"></a>
							</div>

							<i class="far fa-file-alt"></i>
							<h4 class="name">{{ project.title }}</h4>
							<!-- Categories -->
							<span class="category">Détaillé</span>
							<!-- /Categories -->
						</figure>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
