<h2>Nouvelle demande de rappel</h2>

<p>Vous avez reçu une nouvelle demande de rappel avec les détails suivants :</p>

<ul>
    <li><strong>Nom/Prénom :</strong> {{ name }}</li>
    <li><strong>Numéro de téléphone :</strong> {{ phone }}</li>
    <li><strong>Email :</strong> {{ user_email }}</li>
</ul>