{% extends 'base.html.twig' %}

{% block title %}Wee - Portfolio
{% endblock %}

{% block content %}

		<div id="home_content" class="home-content third-style">
			<div class="start-page-full-width">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="inner-content p-50">
							<div class="fill-block" style="background-image: url(./img/main_photo.svg);"></div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="inner-content inner-text-block">
							<div class="hp-text-block">
								<div class="owl-carousel text-rotation">
									<div class="item">
										<div class="sp-subtitle">Walid BELBECHE</div>
									</div>
									<div class="item">
										<div class="sp-subtitle">28 ans, Nièvre</div>
									</div>
									<div class="item">
										<div class="sp-subtitle">6 ans dans le web développement</div>
									</div>
									<div class="item">
										<div class="sp-subtitle">Concepteur développeur d'Applications</div>
									</div>
								</div>

								<h2 class="hp-main-title">Un site web fonctionnel et adapté !</h2>
								<p>
									Tous nos clients ne sont pas des experts, c’est pourquoi nous apportons un soin tout particulier à plus de transparence dans le process de création de votre site internet et l’outil final d’administration de ce dernier qui vous sera livré.
								</p>

								<div class="hp-buttons">
									<a href="wb_cv_cda_in_progress_2023.pdf" target="_blank" class="btn btn-primary">Télécharger CV</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Features Area -->
		{#  <div class="container col-xxl-8 px-4 py-5">
			<h1 class="display-5 fw-bold lh-1 mb-3">Création de site web</h1>
			<p class="lead">Aujourd'hui la pluspart de nos utilisateurs sont connectés.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href="{{ url('app_register') }}" class="btn btn-primary btn-lg px-4 me-md-2">Devis en ligne</a>
				<a href="#" class="btn btn-outline-secondary btn-lg px-4">Portfolio</a>
			</div>
		</div>

		<!-- start services -->
		<section class="section bg-gradient-light-white" id="services">
			<div class="container">
				<div class="row justify-content-center mb-4">
					<div class="col-12 col-md-10 col-lg-7 text-center">
						<span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Mes services</span>
						<h2 class="fs-2 fw-medium lh-1 text-dark my-3">Un outil autonome dans la gestion de vos besoins</h2>
						<p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
							Afin de créer des expériences de marque de premier plan qui ont un sens, il faut une collaboration constante, je serai votre seul interlocuteur tout le long du process de de la rédaction au développement ainsi qu'a la mise en production et le suivi client.
						</p>
					</div>
					<!--end col-->
				</div>
				<!--end row-->
				<div class="row">
					<div class="col-lg-4 col-md-6 mt-4 pt-2">
						<div class="card rounded shadow border-0">
							<div class="card-body p-4 m-2">
								<div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
									<i data-feather="layers" class="align-self-center svg-orange icon-md"></i>
								</div>
								<h5 class="text-dark fs-22 fw-medium my-4">Un service sur mesure</h5>
							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
					<div class="col-lg-4 col-md-6 mt-4 pt-2">
						<div class="card rounded shadow  border-0">
							<div class="card-body p-4 m-2">
								<div class="bg-soft-alt-info d-flex justify-content-center align-items-center thumb-xl  rounded">
									<i data-feather="dollar-sign" class="align-self-center svg-info icon-md"></i>
								</div>
								<h5 class="text-dark fs-22 fw-medium my-4">Croissance dynamique</h5>
							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
					<div class="col-lg-4 col-md-6 mt-4 pt-2">
						<div class="card rounded shadow  border-0">
							<div class="card-body p-4 m-2">
								<div class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl  rounded">
									<i data-feather="check-square" class="align-self-center svg-success icon-md"></i>
								</div>
								<h5 class="text-dark fs-22 fw-medium my-4">Identité de marque</h5>
							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</section>
		<!-- end services -->

		<section class="section bg-light cta-pettern" id="cta">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-10">
						<div class="pattern-1 position-absolute">
							<img src="images/p-1.svg" alt="" class="" height="80">
						</div>
						<h2 class="text-dark" style="line-height: 1.5; position: relative;">Je suis disponible pour l'alternance.</h2>
						<h3>1 semaine en formation, 3 semaines en entreprises</h3>
						<p class="text-muted mb-0">Discutons de vos projets et de mes compétences ainsi que de mon potentiel.
						</p>
					</div>
					<!--end col-->
					<div class="col-lg-2 ml-auto">
						<div class="cta-search">
							<a href="#" class="btn btn-dark">
								PORFOLIO
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
					<!--end col-->
				</div>
				<!--end row-->
			</div>
			<!--end container-->
		</section>#}

		{#<div class="container col-xxl-8 px-4 py-5">
			<h1 class="display-5 fw-bold lh-1 mb-3">Bienvenue</h1>
			<hr>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href="{{ url('front_devis_utilisateur_show') }}" class="btn btn-primary btn-lg px-4 me-md-2">Suivi de ma demande</a>
				<a href="#" class="btn btn-outline-secondary btn-lg px-4">Annuler ma demande</a>
			</div>
		</div>#}
{% endblock %}
