{% block title %}Site en maintenance
{% endblock %}

{% block content %}

	<div id="main" class="site-main">
		<div id="main-content" class="single-page-content nothing-found">
			<div id="primary" class="content-area">

				<div id="content" class="page-content site-content single-post" role="main">

					<div class="page-content">
                        <h6 class="display-6" style="margin-top: 20%;">Notre équipe travaille dur actuellement</h6>
                        <span>Des correctifs sont en cours de développement, merci de votre compréhension.</span><br>
                        <span>Bientôt les services seront rétablis, restez connecté(e)s.</span><br>
						<hr>
                        <a href="mailto: contact@scriptzenit" class="pt-5 pb-5">Contactez-nous</a>
                    </div>


				</div>
			</div>
		</div>
	</div>

{% endblock %}
