.profile-pic {
    margin: 0 auto;
    border: 4px solid #fff;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -50px;
}

.about-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Media Query pour rendre le contenu adaptatif sur les petits écrans */
@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
        border-width: 3px;
    }

    .about-content {
        padding: 20px;
        border-radius: 10px;
        margin-top: -40px;
    }

    .about-content p {
        font-size: 14px;
    }
}