.logo img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    position: absolute;
    bottom: 10px;
}

.logo-text {
    display: none;
}

/*
 * Cover
 */
.cover {
    /* background-color: rgb(4, 51, 78); */
    border-radius: 10px;
}


.cover h1 {
    color: #fcb900;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.img-intro img {
    width: 50%;
    height: 50%;
}

.cover-heading {
    margin-bottom: 2.5%;
}

.home_background{
    background-image: url('../../../img/home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    height: 100%;
}

#cookie-consent {
    position: fixed;       /* Flottant en bas de la page */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8); /* Fond noir semi-transparent */
    color: #fff;          /* Texte blanc */
    padding: 10px 20px;   /* Espacement à l'intérieur */
    font-size: 14px;      /* Taille du texte */
    z-index: 1000;        /* Assure que le bandeau est au-dessus des autres éléments */
    text-align: center;   /* Centre le texte */
}

.site-footer{
    text-align: center;
}

.thank-you{
    padding: 50px;
}
@media screen and (min-width: 1024px) {
    /* .home_background{
        padding-top: 9rem;
    */
}

@media screen and (min-width: 200px) and (max-width: 1080px) {
    #cookie-consent{
        position: fixed;       /* Flottant en bas de la page */
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8); /* Fond noir semi-transparent */
        color: #fff;          /* Texte blanc */
        padding: 10px 20px;   /* Espacement à l'intérieur */
        font-size: 14px;      /* Taille du texte */
        text-align: center;   /* Centre le texte */
    }
    /*.intro{
        padding-top: 100px;
    }*/
    .section-header.section-sm {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .button_home a{
        margin-top: 10px;
        text-align: center;
    }
    .no-card-mobile span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#accept-cookies {
    background-color: #4CAF50; /* Vert pour le bouton Accepter */
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}


@media screen and (max-width: 950px) {

    /* Styles pour les écrans jusqu'à 767px de large (mode téléphone et tablette) */
    .logo img {
        display: none;
        width:100%;
    }

    .logo-text {
        font-weight: 700;
        display: block;
    }

    .lm-animated-bg {
        display: none;
    }

    .img-intro img {
        margin-top: 50%;
        width: 100%;
        height: 100%;
    }

    .cover-heading {
        margin-bottom: 50%;
    }
                                                                                                                                                                                                                                                                .home_background {
        padding-top: 3rem;
    }
}

@media screen and (max-width: 400px) {
        .home_background {
                background-image: url('../../../img/home.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                height: 50%;
                padding-top: 1rem;
    }
}


.img_profil {
    width: 10%;
    -ms-flex-align: center;
}

@media (max-width: 576px) {
    .img_profil {
        width: 100%;
    }
}

/* Login Page*/

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #0061e0;
    overflow-x: hidden;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}