.logo img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    position: absolute;
    bottom: 10px;
}

.logo-text {
    display: none;
}

/*
 * Cover
 */
.cover {
    /* background-color: rgb(4, 51, 78); */
    border-radius: 10px;
}


.cover h1 {
    color: #fcb900;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.img-intro img {
    width: 50%;
    height: 50%;
}

.cover-heading {
    margin-bottom: 2.5%;
}

#cookie-consent {
    position: fixed;       /* Flottant en bas de la page */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8); /* Fond noir semi-transparent */
    color: #fff;          /* Texte blanc */
    padding: 10px 20px;   /* Espacement à l'intérieur */
    font-size: 14px;      /* Taille du texte */
    z-index: 1000;        /* Assure que le bandeau est au-dessus des autres éléments */
    text-align: center;   /* Centre le texte */
}

@media screen and (min-width: 200px) and (max-width: 1080px) {
    #cookie-consent{
        position: fixed;       /* Flottant en bas de la page */
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8); /* Fond noir semi-transparent */
        color: #fff;          /* Texte blanc */
        padding: 10px 20px;   /* Espacement à l'intérieur */
        font-size: 14px;      /* Taille du texte */
        text-align: center;   /* Centre le texte */
    }
    .intro{
        padding-top: 100px;
    }
    .section-header.section-sm {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
}

#accept-cookies {
    background-color: #4CAF50; /* Vert pour le bouton Accepter */
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

@media screen and (max-width: 767px) {

    /* Styles pour les écrans jusqu'à 767px de large (mode téléphone et tablette) */
    .logo img {
        display: none;
    }

    .logo-text {
        font-size: 200px;
        font-weight: 700;
        display: block;
    }

    .lm-animated-bg {
        display: none;
    }

    .img-intro img {
        margin-top: 50%;
        width: 100%;
        height: 100%;
    }

    .cover-heading {
        margin-bottom: 50%;
    }
}