:root {
    --color-white-100: hsl(206, 0%, 100%);
    --color-white-200: hsl(206, 0%, 90%);
    --color-white-300: hsl(206, 0%, 80%);
    --color-white-400: hsl(206, 0%, 65%);
    --color-white-500: hsl(206, 0%, 50%);
    --color-black-100: hsl(217, 30%, 18%);
    --color-black-200: hsl(217, 27%, 15%);
    --color-black-300: hsl(217, 27%, 12%);
    --color-black-400: hsl(217, 52%, 9%);
    --color-blue-100: hsl(215, 97%, 87%);
    --color-blue-200: hsl(215, 96%, 78%);
    --color-blue-300: hsl(215, 94%, 68%);
    --color-blue-400: hsl(215, 91%, 60%);
    --color-blue-500: hsl(215, 83%, 53%);
    --color-blue-600: hsl(215, 76%, 48%);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    font-family: "Poppins", system-ui, ui-sans-serif, sans-serif;
    font-size: clamp(1rem, 2vw, 1.125rem);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-black-400);
    background-color: var(--color-white-100);
}
body .darkmode {
    color: var(--color-white-100);
    background-color: var(--color-black-400);
}

main {
    overflow: hidden;
}

a,
button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-wrap: balance;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.section {
    margin: 0 auto;
    padding: 5rem 0 2rem;
}

.container {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.paragraph {
    color: inherit;
}

.heading-xl {
    font-family: inherit;
    font-size: clamp(2.648rem, 6vw, 4.241rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
}
.heading-lg {
    font-family: inherit;
    font-size: clamp(2.179rem, 5vw, 3.176rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
}
.heading-md {
    font-family: inherit;
    font-size: clamp(1.794rem, 4vw, 2.379rem);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -1px;
}

.btn {
    display: inline-block;
    font-family: inherit;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    text-transform: unset;
    transition: all 0.3s ease-in-out;
}
.btn-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
}
.btn-darken {
    padding: 0.75rem 2rem;
    color: var(--color-white-100);
    background-color: var(--color-black-200);
    box-shadow: var(--shadow-medium);
}
.darkmode .btn-darken {
    background-color: var(--color-blue-500);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: var(--color-white-100);
    box-shadow: var(--shadow-medium);
}
.darkmode .header {
    background-color: var(--color-black-400);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
}

.brand {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.25;
    margin-right: auto;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: var(--color-blue-500);
}
.darkmode .brand {
    color: var(--color-white-100);
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: var(--color-black-400);
    background-color: var(--color-white-100);
    box-shadow: var(--shadow-medium);
    transition: all 0.4s ease-in-out;
}
.darkmode .menu {
    color: var(--color-white-100);
    background-color: var(--color-black-400);
}
.menu.is-active {
    left: 0;
}
.menu-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
    margin-top: 7rem;
}
.menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: inherit;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
@media only screen and (min-width: 48rem) {
    .menu {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        padding: 0rem;
        margin-left: auto;
        background: none;
        box-shadow: none;
        transition: none;
    }
    .menu-inner {
        display: flex;
        flex-direction: row;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        margin: 0 auto;
    }
    .menu-link {
        text-transform: capitalize;
    }
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    order: -1;
    z-index: 12;
    width: 1.6rem;
    height: 1.15rem;
    margin-right: 1.25rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;
}
@media only screen and (min-width: 48rem) {
    .burger {
        display: none;
        visibility: hidden;
    }
}
.burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2.1px;
    border: none;
    outline: none;
    opacity: 1;
    transform: rotate(0deg);
    border-radius: 1rem;
    background-color: var(--color-black-300);
    transition: 0.25s ease-in-out;
}
.darkmode .burger-line {
    background-color: var(--color-white-100);
}
.burger-line:nth-child(1) {
    top: 0px;
}
.burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}
.burger-line:nth-child(3) {
    top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
    top: 0.5rem;
    transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-135deg);
}

.switch {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9;
    margin-left: 5rem;
    margin-right: 0.5rem;
}
.switch-light, .switch-dark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
}
.switch-light {
    font-size: 1.45rem;
    visibility: visible;
    color: var(--color-black-300);
}
.darkmode .switch-light {
    font-size: 0rem;
    visibility: hidden;
}
.switch-dark {
    font-size: 0rem;
    visibility: hidden;
    color: var(--color-white-100);
}
.darkmode .switch-dark {
    font-size: 1.45rem;
    visibility: visible;
}

.banner-column {
    position: relative;
    display: grid;
    align-items: center;
    row-gap: 2rem;
}
@media only screen and (min-width: 48rem) {
    .banner-column {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        margin-top: 4rem;
    }
}
@media only screen and (min-width: 64rem) {
    .banner-column {
        grid-template-columns: 1fr -webkit-max-content;
        grid-template-columns: 1fr max-content;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}
.banner-image {
    display: block;
    max-width: 25rem;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    justify-self: center;
}
@media only screen and (min-width: 48rem) {
    .banner-image {
        order: 1;
        max-width: 28rem;
        height: auto;
    }
}
@media only screen and (min-width: 64rem) {
    .banner-image {
        max-width: 33rem;
        height: auto;
    }
}
.banner-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
}