.navbar {
    padding: 0!important;
    background-color: #242e4c!important;
    color: white;
}

.collapse ul {
    margin-top: 0!important;
}

.navbar-toggler {
    border: none;
}


.logo-text {
    display: none;
}

/*
 * Cover
 */
.cover {
    /* background-color: rgb(4, 51, 78); */
    border-radius: 10px;
}


.cover h1 {
    color: #fcb900;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.img-intro img {
    width: 50%;
    height: 50%;
}

.cover-heading {
    margin-bottom: 2.5%;
}

#cookie-consent {
    position: fixed;       /* Flottant en bas de la page */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8); /* Fond noir semi-transparent */
    color: #fff;          /* Texte blanc */
    padding: 10px 20px;   /* Espacement à l'intérieur */
    font-size: 14px;      /* Taille du texte */
    z-index: 1000;        /* Assure que le bandeau est au-dessus des autres éléments */
    text-align: center;   /* Centre le texte */
}

.site-footer{
    text-align: center;
}

.thank-you{
    padding: 50px;
}
@media screen and (min-width: 1024px) {
    .logo > a > img {
        -ms-interpolation-mode: bicubic;
        border: 0;
        height: auto;
        max-width: 100%;
        vertical-align: bottom;
        position: absolute;
        margin-top: 2px!important;
        bottom: -1px;
    }
}

@media screen and (min-width: 200px) and (max-width: 700px) {
    #cookie-consent{
        position: fixed;       /* Flottant en bas de la page */
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8); /* Fond noir semi-transparent */
        color: #fff;          /* Texte blanc */
        padding: 10px 20px;   /* Espacement à l'intérieur */
        font-size: 14px;      /* Taille du texte */
        text-align: center;   /* Centre le texte */
    }
    /*.intro{
        padding-top: 100px;
    }*/
    .section-header.section-sm {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .button_home a{
        margin-top: 10px;
        text-align: center;
    }
    .no-card-mobile span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .intro_mobile {
        margin-top: 46px!important;
    }
    .menu_mobile > li > a {
        color: black!important;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 10px;
    }
    .collapse ul {
        padding: 50px;
        text-align: center;
    }
    .user > li {
        margin-top: 5px;
    }
    .user > li > a {
        color: black!important;
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    .navbar-nav .dropdown-menu {
        margin-top: 0!important;
    }
}

#accept-cookies {
    background-color: #4CAF50; /* Vert pour le bouton Accepter */
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}


@media screen and (max-width: 950px) {

    /* Styles pour les écrans jusqu'à 767px de large (mode téléphone et tablette) */
    .logo img {
        display: none;
        width:100%;
    }

    .logo-text {
        font-weight: 700;
        display: block;
    }

    .lm-animated-bg {
        display: none;
    }

    .img-intro img {
        margin-top: 50%;
        width: 100%;
        height: 100%;
    }

    .cover-heading {
        margin-bottom: 50%;
    }                                                                                                                                                                                                                                                     .home_background {
        padding-top: 3rem;
    }
}

.img_profil {
    width: 10%;
    -ms-flex-align: center;
}

@media (max-width: 576px) {
    .img_profil {
        width: 100%;
    }
}

/* Login Page*/

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #0061e0;
    overflow-x: hidden;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 700px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        color:black;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
    .header_intro > div{
        margin-top: 156px;
    }
    .button_intro > a {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin-left: 20px;
        background-color: #5984bd; /* Tomato color */
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .button_intro > a:hover {
        background-color: #0061e0; /* OrangeRed color */
        transform: translateY(-5px);
    }
    .button_intro > a:nth-last-child(1) {
        background-color: #2e8b57; /* SeaGreen color */
    }
    .button_intro > a:nth-last-child(1):hover {
        background-color: #006400; /* DarkGreen color */
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

@media screen and (max-width: 500px){
    .man_mobile{
        margin-top: 10px;
    }
    .button_intro > a {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        margin-left: 20px;
        background-color: #5984bd; /* Tomato color */
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        margin-top: 15px;
    }
    .button_intro > a:hover {
        background-color: #0061e0; /* OrangeRed color */
        transform: translateY(-5px);
    }
    .button_intro > a:nth-last-child(1) {
        background-color: #2e8b57; /* SeaGreen color */
    }
    .button_intro > a:nth-last-child(1):hover {
        background-color: #006400; /* DarkGreen color */
    }
}

@media screen and (min-width: 700px){
    .user{
        display: flex;
    }
}


.block-hidden-resources {
    height: 40vh;
    overflow: hidden;
}
.overflow-style-1 {
    overflow: auto !important;
    height: 100%;
    padding: 0 10px 10px 10px;
    border: solid 1px grey;
    border-radius: 6px;
}
.overflow-style-1::-webkit-scrollbar {
    width: 5px;
}
.overflow-style-1::-webkit-scrollbar-thumb {
    background-color: #888787;
    border-radius: 5px;
}
.overflow-style-1::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.overflow-style-1:hover::-webkit-scrollbar {
    width: 5px;
    opacity: 1;
}

.block-profil-informations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Définition des spécialités de l'entreprise */
.speciality {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}