{% extends "base.html.twig" %}

{% block title %} Static {% endblock title %}

{% block content %}

<h1>Static Page</h1>

<div class="container mt-6">
    Bienvenue {{ staticValue.name }} {% if staticValue.active == 1 %} votre compte est activé {% else %} votre compte est désactivé {% endif %} et vous avez {{ staticValue.age }} ans.
</div>

{% endblock content %}
