{% extends 'base_user.html.twig'%}

{% block title %} Profil {% endblock%}

{% block content %}

    <h1>Page de {{  app.user.civility  }}{{ app.user.nom }} {{ app.user.prenom }}</h1>
    <div class="justify-content-center">
        <a href="{{ url('front_home') }}">Retour à la page d'accueil</a>
    </div>


{% endblock %}