{% extends 'base.html.twig' %}

{% block content %}

	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Contact</h1>
			<h3>Mes coordoonées</h3>

			<blockquote>
				<a href="tel:0762972691" style="text-decoration: underline;">Téléphone: +33 7 62 97 26 91</a><br>
				<a href="mailto:w.belbeche@scriptzenit.fr">Mail: w.belbeche@scriptzenit.fr</a>
			</blockquote>
		</div>
		<div class="mb-4">
			<a href="tel:0762972691" class="btn btn-primary">Appelez-moi !</a>
			<a href="mailto:w.belbeche@scriptzenit.fr" class="btn btn-secondary">Contactez-moi par email !</a>
		</div>
	</div>


{% endblock %}
