{% extends 'base_back.html.twig' %}

{% block content %}
	<div class="container mt-4">
		<h1>Modifier le projet
			{{ project.title }}</h1>

		<hr>

		{% if app.request.attributes.get('_route') == 'back_project_edit' %}
			<h2>Gestion des images</h2>
			<div>
				{% for image in project.images %}
					<a href="{{ asset('/image_project/'~image.name) }}"><img src="{{ asset('/image_project/'~image.name) }}" class="img-fluid" alt="{{ image.name }}"/></a>
				{% endfor %}
			</div>
		{% endif %}
		<br>
		{% include 'back/includes/_project_form.html.twig' %}

	</div>

{% endblock %}
