{% extends 'base_back.html.twig' %}

{% block title %}Back controller project
{% endblock %}

{% block content %}

	<h1>Ajouter un project</h1>

	{% if app.request.attributes.get('_route') == 'back_project_edit' %}
		<hr>
		<h2>Gestion des images</h2>
		<div>
			<img
			src="{{ asset('/image_project/'~project.image.name) }}" alt="{{ project.image.name }}" class="img-fluid"/>

			{# We add a link to delete an image (will be managed in Ajax in images.js) #}
			<a href="{{ path('back_articles_remove_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">
				<i class="bi bi-file-earmark-x"></i>
				Supprimer
			</a>
		</div>
	{% endif %}
	<br>
	{% include 'back/includes/_project_form.html.twig' %}

	<script>
		$(document).ready(function () {
$('.select2').select2();
});
	</script>

{% endblock %}
