{% extends 'base_back.html.twig' %}

{% block title %}Back controller index{% endblock %}

{% block content %}

    <h1>Page administration principal</h1>
    <div class="justify-content-center">
        <a href="{{ url('front_home') }}">Retour à la page d'accueil</a>
    </div>

{% endblock %}
